{% extends "base.html" %}

{% block content %}
1、Basic personal amount个人免税额度的增加
2023年，联邦个人免税额度将增加到$15,000, 相当于减少了$90. 3元的联邦税。但是对于收入超过$165,430 元的人士，额外增加的个人免税额度（超过通胀调整之外的部分）将会减少，收入超过$235,675元的人士额外的个人免税额度将会减少到相应的个人免税额度为$13,521。2023的安省的个人免税额度是$11,865。


2、CPP加拿大退休金的供款费率继续上调
按照新的增强版CPP改革计划，2023年CPP的个人和公司的供款费率将从2022年的5.7%上调至5.95%。个人年最高供款额度普通雇员$3,754.45,自雇人士$7,508.90，相对应的maximum pensionable earning 是$66,600。

3、EI失业保险金费率将从2022年的1.58%，增加到2023年的1.63%
年度最高失业保险金供款额将首次突破一千大关，达到$1,002.45，相对应的 Maximum annual insurable earnings 是$61,500。

4、2023年TFSA 的供款额度增加$500, 变成$6,500
累积的最高供款额度是$88,000。2023年度个人RRSP的最高供款额是$30,780。

5、Climate Action Incentive 碳税补助提高了
安省的个人碳税补助提高到$488, 两人家庭$732, 4口之家$976。从2022年开始CAI 碳税补助改为季度付款，纳税人将在2023年7月收到23年度的第一笔付款。

6、Residential Anti-Flipping Rules，联邦反炒房法规将会在2023年开始实施
购买任何民宅后12个月以内出售并且有盈利的情况都被视为炒房行为，收入将按照business income 100%计入当年收入，也无法享有主要居所豁免。当然一些特殊情况也可获得豁免，比如家庭成员残疾或去世，新的工作，有孩子出生，离婚分居等。

7、Multi-Generation Home Renovation Credit 为多代同堂的家庭提供的住房税务优惠
为年长的或有身体残障的家庭成员修建第二个独立居住单位或对现有的住所进行装修改造的家庭，可以从联邦政府获得合格建筑装修开支15%的退税，最高可以申报$50,000 建筑装修费用，相当于$7,500的退税。

8、Tax-Free First Home Savings Account 首套房免税储蓄账户（FHSA）
FHSA将于2023年1月1日开始运行。类似RRSP，FHSA账户的供款是税前抵减tax deductible的。每年最高供款额度$8,000, 一生最高供款额度$40,000。

9、2023年起，First-Time Home Buyer Tax Credit 首次购房税收抵免金额翻倍，增加到$10,000
相当于减少了$1,500的税款。税收抵免无需额外申请，符合条件的纳税人只需在税表Line 31270填上$10,000的金额即可。

10，小企业税方面没有太多变化，50万元以下盈利的联邦小企业税率还是9%不变，安省的小企业税率3.2%，安省的合并小企业税率为12.2%。
另外因为CPP供款费率的上调0.25%，企业支付部分也将相应增加。因为CPP费率上调，增加了企业和个人的负担，小企业主可以考虑增加分红给自己报酬，当然这个还需要考虑个人和家庭的情况而定，建议咨询专业人士制定适合自己的计划。


<li>税是加拿大社会的血液，虽然税率高，但福利也是靠我们的纳税来支撑
</li><li>税局就像个公司，查税也是要考虑成本与收益的
</li><li>税局也是判例法，你觉得你有理，就可以申诉。除了法之外，还有情，合情合理很重要
</li><li>信用社会是加拿大税务体系的基石。不用去找谁，也不用关系。该是你的，一分不少。不该你交的，哪怕他查你，怀疑你，也可以大大方方，据理力争
</li><li>合理充分地利用税务工具，做好税务规划非常重要
</li>

{% endblock %}