{% extends "base.html" %}

{% block content %}
<h2>Welcome to the about Page</h2>

<li>RRSP（Registered Retirement Savings Plan）
    官网链接：https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/rrsps-related-plans/registered-retirement-savings-plan-rrsp.html 。
    解释：这一项可以相当于在国内就职时单位交的公积金和住房公积金。在Canada不管你收入有多高，RRSP都是可以不用交的。但RRSP可以在未来买房时取出来用，包括Home Buyers Plan (HBP) and Lifelong Learning Plan (LLP)。
    目的：RRSP是为了在收入比较高的时候，把一部分收入放在RRSP里，这样这一年度的收入就会减少。由于Canada是根据收入分层收税，收入越高，被征收的比例越大。所以放一部分在RRSP里可以认为是合理避税。对于我们学生来说，学生是低收入群体，所有交的税通常都会全额退回，所以购买RRSP意义不大，等毕业工作后可以考虑。
    </li>
    <li>
        TFSA（Tax-Free Savings Account）
        官网链接：https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/tax-free-savings-account.html
        解释：如果在银行里的存款数额较高，银行利息也会征税。TFSA是政府给大家的的免税储蓄账户。每年CRA都会给一定的数额，数额可以逐年累加。
        目的：如果大家想合理避开存款利息的税收，可以考虑TFSA。对于我们学生来说，学生是低收入群体，所有交的税通常都会全额退回，所以把钱存入TFSA的意义不大，等毕业工作后可以考虑。如果想开户可以联系自己存款所在的银行。
    </li>
    <h2>--</h2>
{% endblock %}
