加拿大报税攻略指南
https://www.immica.com/file-canadian-income-tax/
2024-01-17

新年伊始，意味着加拿大报税季即将来临。加拿大居民需要通过提前准备、充分了解税收政策、使用合适的报税工具和资源，为即将到来的报税季做好充分的准备。本文将和大家一起探讨加拿大报税制度，了解如何正确合规地进行个人所得税申报。

报税期限
加拿大的税务年度是指自然年，即从每年的1月1日至12月31日。居民需要在每年的4月底之前提交纳税申报表。这个期限通常被称为报税季，是每年所有纳税人都要密切关注的时间。2024年的所得报税季是2月19日至4月30日，需要补税、申报海外资产、申报联邦空屋税等。都需要在4月30日之前完成报税。如果本人或配偶是自雇人士，报税截止日期为6月17日。

谁需要报税？
判断一个人是否需要在加拿大报税？是不是加拿大税务居民？需要看Ta是否持有效合法身份（包括公民、枫叶卡、旅游签、学签、工签等）在一个自然年中在加拿大居住183天，或是否与加拿大建立居住联系（即Residential Ties）。居住时间很好计算，而加拿大居住联系如何判断呢？有两种方法：

第一种：是否有主要居住联系？比如在加拿大拥有住所，或者配偶在加拿大（比如陪工夫妇），或者孩子等受抚养家属在加拿大（比如陪读家长）；
第二种：是否有次要居住联系？比如在加拿大拥有个人财产，或者拥有社会关系，或者持有加拿大银行账户或信用卡等，或者持有加拿大驾照、医疗保险等。
这里想要强调一点，有担保父母移民计划的申请人，一定要重视1起每年的报税。因为项目要求担保人的收入应连续三年满足父母团聚移民最低收入要求。

哪些收入需要报税？
纳税人进行所得税申报时，需要综合考虑所有可能的收入来源。以下是一些常见的申报收入类别：

工资和薪水：打工人最基本的收入来源之一。包括兼职收入；
自雇收入：自由职业者、小商业主和合伙人等通过从经营业务中获得的收入；
投资收入：包括股息、利息、资本利得等；
房产收入：租金或卖出房产所获得的利润；
退休金和养老金：从养老金计划或政府养老金中获得的收入；
政府福利补贴：政府发放的各种福利（包括儿童福利、家庭津贴、疫情补贴等）和失业金；
奖学金和教育津贴：通过奖学金、助学金或其他教育津贴获得的收入；
遗产和赠与：通过继承或赠与获得的收入。
抵税或免税项目
抵税（Tax deduction）是指总收入里可以扣减的费用，类似于国内的个税专向附加扣除。抵税部分越多，应税收入就越少，最后所交的税也会越少。具体抵税费用可以参考下方列表：

照顾孩子的费用；
生意亏损；
搬家费用；
投资中的利息和费用；
自雇人士缴纳CPP的费用；
居家办公费用；
学生贷款利息等。
而免税顾名思义，是不用交税。比如用存入TFSA账户的资金去投资，投资收益是不用交税的，即免税。

报税准备
纳税人应该在报税季到来之前准备好相关的报税文件，包括但不限于T4、T4A、T5、T2202，投资收入，慈善捐款收据，医疗支出和教育费用等等。详细清单请看下方表格：

分类	报税文件
个人信息	家庭成员的全名、出生日期及社会保险号码SIN。
纳税申报表	纳税人需要填写所得税和福利（T1）申报表，表格中详细列明了各种收入和扣除项。
一般收入	T4（个人所得税和福利表）；
T4A（自雇人士收入表）。
投资收入	T5（银行存款利息）；
T3（投资收益表）；
T5008（资本利得表）；
T5013（LP投资收益表）；
T1135（海外资产表）等。
退休收入	T4A 养老金、退休金、年金和其他收入表；
T4A(P) 加拿大养老金计划福利声明；
T4A(OAS) 老年保障声明；
T4RSP RRSP 收入报表；
注册退休收入基金的 T4RIF 收入表。
福利收入	T4E就业保险和其他福利声明；
T5007工人赔偿或社会援助福利；
CERB、CRB、CRCB 等COVID-19福利 。
其他可以降低应税收入费用收据	RRSP（注册退休储蓄计划）；
FHSA（首次购房者储蓄账户）；
儿童看护费收据；
捐款：包括普通捐款和政治捐款（可以累积5粘一起申报）；
公司员工的T2200 就业费用、居家办公费用、工会会费等；
自雇人士的房租费用、汽车保险及维修费用、广告费、差旅费等；
房主或房东的资本成本津贴 (CCA)、搬家费用等；
学生的学费单T2202A、贷款利息、租房合同或房租支付凭证等；
医药费收据等。
注意，请准备好前一年的报税回执NOA，上面标明了RRSP额度、HBP额度、学费Credit等重要信息。

如何申报所得税？
在加拿大，纳税人可以选择多种方式进行报税。以下是一些常见的加拿大报税方法：

在线报税软件：使用官方认证的软件在线报税，方便快捷，是近年来最热门的报税方式。软件包括TurboTax、SimpleTax、H&R Block等。用户需要登陆软件并填写所有信息，最终通过电子方式提交报税申报表。目前一些报税软件开始提供了手机应用程序，用户可以随时随地在手机上管理税务；
纸质报税：纳税人也可以选择纸质报税方式，即从加拿大税务局网站下载所需的纳税表格，手动填写并邮寄给税务局；
委托给专业税务顾问：如果情况复杂，为了确保准确性，一些纳税人会寻求专业税务顾问的协助；
电子数据接口（EDI）：这是企业和专业会计师通常使用的系统，方便提交大量数据，保证效率和准确性。
常见问题
留学生没有收入，需要报税吗？
如果留学生年满19周岁，并且在加拿大境内住满183天，建议进行报税，以继续获得福利补贴。如果留学生没有收入，全年任何时间段都可以报税；但如果有收入，必须要在每年的4月30日之前报税。

如何查询自己的报税记录？
纳税人可以通过CRA My Account来获取报税记录。不仅如此，还可以用该平台更新个人通信地址，修改自动退税Direct Deposit的银行账号，提交审计文件，申请政府福利以及查看福利发放情况等等。

人不在加拿大需要报税吗？
根据税务规定，凡是在加拿大境内居住满183天或者有加拿大境内收入的人都需要在加拿大报税。

加拿大境外收入需要报税吗？
根据加拿大税法规定，税务居民应向政府申报全球收入，包括海外收入。

加拿大退税什么时候到账？
取决于您的报税方式。纸质申报的退税处理时间为最长两个月。在线申报处理速度比较快，通常只需要两周左右。

新移民在加拿大居住不满183天，需要报税吗？
需要。您需要以“非税务居民（Non resident）”身份，根据在加拿大居住的日子计算加拿大境内收入及其税额。

报税后可以享受哪些福利？
1. 学费抵扣：学生报学费单据后，毕业工作了可以获得每年所交学费15%相当的抵扣额（不包括高中学费和语言课学费）；
2. 消费税补贴（GST/HST Credit）：政府会根据个人收入，以补贴形式退还部分消费税。没有收入的留学生、新移民也可以领取最低补贴；
3. 气候行动补贴（Climate action tax credit）：凡是2018年之前登陆加拿大BC生的居民，都可以拿到154加币/人的补贴；
4. 落地税：实际上属于消费税。落地加拿大那一年满19随，可以申请落地税补贴。根据落地时间，发出金额为100加币至1000加币不等。需要单独申报151表格。

不报税会有什么后果？
1. 如果报税结果是退税或应缴税款为0，晚报不会有罚款，但可能影响家庭福利金的领取。另外，如果申请房屋贷款通常需要提交税务评估表NOA，只有报税才能获得NOA；
2. 如果需要补税，晚报晚交税就有相应的罚款。如果逾期补税，会对欠税额部分处以5%的罚款。而且每延迟一个月，比例将上升1%，最高17%。如果过去三年有逾期报税记录，今年再次逾期，税务局的罚款可能加倍；
3. 如果已成功报税但出于某些原因无法交税，税务局会根据欠税额部分征收8%的利息。