在《加拿大税务税务规划（一）：全是套路》里我写过，税务规划的策略都是围绕着“3D”而展开的。在这篇文章里，我将会重点介绍夫妻之间的“3D”套路都有哪些。

Deducthttps://liveandleave.com/2018/05/21/tax-planning-2/

Spousal Credit 配偶免税额度：在一年中的任何时候，如果配偶的净收入(Net Income)低于Schedule 1 的 Line 303 所规定的上限，你都可以申报配偶免税额，需要填写Schedule 5，具体的计算就是用当年Line 303的上限减去配偶的净收入，就是可以申报的金额。假如在年中两人关系破裂，这个配偶免税额度还是可以申报，但只能按照分开前与分开后的收入比例来计算。
Medical Expenses 医疗费用免税额度：报税的时候可以先将全家的医疗费用计算一个总额，然后再比较放在哪一方申报会更好。如果双方都有超过个人基本免税额的收入，建议是将费用放在收入较低的一方来申报。如果一方收入低于个人免税额，则应该由收入较高的一方来申报。在这里强行插入一句我自己个人的吐槽，这个医疗费用的免税额度真的是很鸡肋很鸡肋啊。
Donation 慈善及政治捐款：报税的时候可以先将全家的捐款计算一个总额，然后由收入较高的一方来申报。
Tuition Credit 学费免税额：如果夫妻之间有一方在读专上院校，可以把当年所产生的学费转给另一方配偶，最高金额为$5,000。
Defer

在加拿大，虽然没有像美国一样一刀切的遗产税，但人去世了还需要报最后一次税（Final Return），按照逝者名下所拥有的财产类型来分别计算遗产税，往往比一刀切的算法更为复杂。按照加拿大税法Section 70(5)(a)的规定，当一个纳税人去世的时候，TA名下的所有资产Capital Properties，都会以去世当天的市场价格视同出售（Deemed Disposition），因此有可能会引起资产增值税Capital Gain Tax。

但凡事都有个例外。加拿大税法 Section 70(6) 允许纳税人在去世的时候将这些资产按照成本价格免税转给TA的配偶或者为配偶而设立的信托（Spousal Trust），也就是说，先逝的一方不会有任何的资产增值税，而尚存的一方在将来把这些资产出售或在TA去世的时候，再来计算需要缴付的资产增值税。

加拿大的税法好玩就好玩在，有规定了，然后给你一个例外，有例外了，然后你还能通过election来选择究竟要不要这个例外。正是因为有了这些例外和election，才给予了税务规划生存的空间。也正是因为这些空间的存在，所以政府的税务政策年年都在变，为的就是堵这些洞。

所以，上面Section 70(6) 的Spousal Rollover夫妻间资产延税转移也有一个可以选择不例外的election，具体的操作是根据每一项资产来决定是否要做election。一般来说，选择做election的原因有两个：1）引发资产增值 Capital Gains；2）引发资产亏损 Capital Losses。这个税务规划的系列文章会有专门写加拿大遗产税务的单独一篇，到时再来详细写哪些情况下选择做election会比较好，这里先埋个伏笔。

广告

除了资产Capital Properties，RRSP注册退休储蓄账户也有类似的Spousal Rollover夫妻延税政策。当一个纳税人去世的时候，TA的RRSP账户里全部的金额都会被视作收入进行缴税。TA的配偶，视乎是否为先逝者RRSP账户的指定受益人，可以按照税法里的相关规定，将先逝者RRSP里的金额在限定时间内免税转进自己的RRSP账户，从而实现延税的目的。关于去世时RRSP账户的处理，在遗产税务的单篇里会作详细介绍。

Divide

Spousal RRSP
利用高收入一方的RRSP存款空间，为低收入一方配偶的RRSP账户供款，减的是高收入一方的税。存满三年后，如果把钱取出来，由低收入的一方来缴税。

举例说明，BC省居民老王税前年收入10万，边际税率为38.29%，老婆全职在家带孩子没有收入。假设老王在某年中存了1万的配偶RRSP，在当年报税的时候，老王可以获得退税$3,829，三年后，他老婆把这1万块钱取出来，不用交任何税。但是，如果没有存满三年就取出来，这1万块钱则要算进老王当年的收入，他需要为此多交$3,829的税。

戳下面可以查看本站其他关于RRSP的文章：

一张图助你快速弄懂 RRSP

RRSP和TFSA到底要不要“买”

Pension Income Splitting & CPP Sharing
夫妻退休后的收入如果处于不同的边际税率，可以通过分散符合资格的退休金收入或者分享CPP来为家庭节税。

符合资格的退休金收入一般是纳税人退休前由工作单位所提供的注册退休计划RPP，如：设定福利退休金计划DBPP，设定供款退休金计划DCPP。RPP的退休金分散收入不受年龄限制。

另外一些符合资格的退休金收入包括：由RRSP或公司延迟利润分享计划DPSP转化而来的RRSP年金或者注册退休金收入基金RRIF。但是这些退休金计划需要在纳税人满65岁才能与配偶分散收入。

退休金分散收入需要夫妻双方都是加拿大的税务居民，并且在当年报税的时候共同做分散退休金收入的election （填写T1032）。

不同于退休金分散收入，加拿大退休金计划CPP有自己的一套关于夫妻之间分享收入的规定：

夫妻双方必须都满60岁
需要填写ISP1002表格申请
可以分享的CPP金额是根据夫妻共同生活与其共同为CPP供款的时间（Joint Contributory Period）比例来计算。这个共同为CPP供款的时间，简单来说，是指从年纪较长的一方满18岁的那年开始，到双方开始领取CPP退休金结束。如果只有一方配偶领取CPP，则是到收到CPP分享申请的时候结束，最晚到领取的一方配偶满70岁。
关于CPP分享以及退休金分散收入，在本系列文章中会有一篇关于退休税务规划的文章作更为详细的介绍。

夫妻间财产转移
加拿大的税法里有一个“归源法则”，英文称为Attribution Rules。简单来说，如果一个纳税人免费或以低于当前的市场价格（Fair Market Value）把资产（包括现金）赠与或转给与自己有关联的人（Non-arm’s Length），包括自己的配偶，未成年子女/侄子女/外甥子女，那么因这些资产而产生的收入，如利息，分红，资产增值等，都需要由转出的一方为这些收入来缴税，这就是所谓的“归源”。

就像前面说过的，加拿大税法里的很多规定都有例外，这个“归源法则”也不例外。以下的几个不受归源法则限制的例外是专门针对夫妻之间的财产转移。

第一个例外，如果转赠的一方为加拿大的非税务居民而接受的一方为税务居民，这种情况不受归源法则的限制。

第二个例外，如果纳税人是按照市场价格把资产卖给与自己的配偶，那么因这些资产而产生的收入，则由获得的一方为这些收入来缴税。

第三个例外，在转移资产所产生的收入的基础上再衍生而来的收入（第二代收入）不需要归源。举个例子说，老王转了10万给他老婆，他老婆拿着这10万去做理财，每年利息回报6%，也就是$6,000。老王需要把这$6,000利息收入加到当年自己的收入进行缴税。如果他老婆之后把这$6,000再转出来放在她名下另外一个单独的账户，做同样的理财，每年利息回报6%，这个由原来的10万所产生的利息再衍生的利息收入$360，则会被加到他老婆的收入进行缴税。

第四个例外，如果夫妻之间有以等于或高于CRA既定利率（Prescribed Rate）所设立的贷款，由这些贷款所产生的收入也不需要归源。还是以老王来举例说明夫妻贷款Spousal Loan的操作。假如老王将手头上的10万块钱，以等于CRA现在的既定年利率2%的贷款形式借给他老婆，然后他老婆用这10万块钱的借款去做理财，年回报率为6%，即$6,000的收入。在明年的1月30日之前，老王的老婆必须要支付老王$2,000的利息，而老王则需要把这$2,000的利息加到他的收入进行缴税。老王的老婆需要为$6,000的利息收入进行缴税，同时她也可以将$2,000的利息费用从她的收入中减去，因此她的实际应税收入只有$4,000。

关于夫妻贷款，还有几点值得一提：

第一，如果在下一年的1月30日之前接受贷款的一方没有向提供贷款的一方支付利息，这个夫妻贷款就会被视为无效。

第二，贷款一旦发生，其利息就会一直维持不变，一直到贷款合约完成。现在的2%是2018年的4月1日才刚刚涨上去的，之前好多年一直都是1%，因此很多人，特别是那些高收入高资产净值的有钱人，都用到了这个策略去帮他们的家庭节税。

广告

第三，夫妻贷款也需要有白纸黑字的文字合约规定其利息，金额及还款期限等。

加拿大的税务及政府福利政策，从某种程度上来说，尤其是对于家里有未成年小孩的，单亲家庭所能获得的福利和税务优惠要比双亲家庭要多，当然这也很合理，不过也因此给予了某些人一些另类的税务规划空间。从另一方面来说，两个人相爱的人，肯定不能说为了少交点税或者多拿点福利而不结婚不同居的吧，或许这就是所谓“爱的代价”了。

以上就是关于夫妻之间税务规划3D的介绍，仅供大家参考。真正的税务规划比我写的要复杂很多，如有需要，请向专业会计师进行咨询。

如果您觉得此文章内容有点意思，欢迎点击右上角转发分享给您的家人和朋友们，谢谢您的支持。

如果您对税务规划有任何问题，欢迎在底下给我留言或者联络我 (微信：jilljill1113) 进行咨询。加微信时请简短写明需要咨询的内容。

本站所有文章皆为本人原创，欢迎转发，但不欢迎未经本人同意转载或作其它商业用途。一经发现，本人保留所有法律追究的权利。