加拿大报税须知事项
https://cn.moneytalkgo.com/the-canadian-tax-filing-checklist-simplified-chinese/
尽管2022 年经历了许多的高低起伏，有一件事也许是我们可以肯定的：报税季节的到来。这是我们协助您提交2022年度报税表的快速指南。
 
 
 
报税季节可能并非您一年中最喜欢的时候，但如果有一个因素推动您完成报税，那便是越早报税，就可能越快因为符合资格而获得退税。虽然税季也许往往被认为是恒常事情，规则每年只有少许变化，但加拿大人在2023年准备报税时应该注意几项重要的更新。

去年对许多人来说是艰难的一年，通胀高企、利率上升和股市动荡的影响仍笼罩全国。道明财富税务和遗产规划总监Nicole Ewing表示，通胀和利率上升在税务方面也发挥作用，这也许令人惊讶，而影响有正负两面。

她说：〝例如，我们的税级与通胀挂钩，去年的通胀率比以前高得多。另一方面，利率也比过往高得多，您不会想迟交税款，因为任何应计利息都会显著增加。〞

在您准备报税时，以下我们为您提供的快速指南可帮助您顺利完成。



基本须知
报税的最后期限是何时？
对于非自雇人士，今年的报税截止日期是2023年5月1日。一般来说，截止日期是4月30日，但在2023年这天是星期日。自雇人士 (或者其配偶或同居伴侣是自雇者的人士) 的报税截止日期是2023 年 6 月 15 日。但需务必注意的是，任何欠税都必须在2023 年5 月1 日或之前缴纳。在魁北克省，报税和付款的截止日期同是5月1日。



我的基本个人免税额是多少？
基本个人免税额是一种不可退还的税收抵免，所有人都可以申请。如果您的年净收入等于或低于155,625元，您在2022 纳税年度的联邦基本个人免税额是14,398 元。若您的年净收入为 221,708 元或更多，免税额是12,719 元。若收入介乎两者之间，您的基本个人免税额将相应递减 [1]。

Ewing 说：〝税级是根据去年的通胀率来计算，而通胀率大约是过往水平的3倍。因此，我们将看到一些更高的数字。〞并且她指出，更高的税级金额可意味着有机会节省更多。

有关基本个人免税额的更多信息和税级查询，请访问加拿大税务局的英文网站。



我可以向注册退休储蓄计划 (RRSP) 供款多少？
您可以在2023年3月1日前作出RRSP 供款，以减少2022年度的应税收入。年度供款限额是2022年收入的18%，上限为29,210元，减去您的退休金调整额 (如有的话)，再加上任何在过往年度未使用的RRSP供款额。已婚者可以考虑作出配偶RRSP 供款，以配偶名义让投资在延税基础上增长。 Ewing 表示，加拿大人应该注意，如果在作出配偶RRSP供款后的3个纳税年度内提款，则可能受到归属规则的约束，即是提取的款项将被计入供款配偶的应税收入。



我可以向免税储蓄账户 (TFSA) 供款多少？
虽然向 TFSA 供款并非严格限定于〝报税时候〞进行，但考虑 RRSP 时可能会促使您也考虑这种可以节税的投资。联邦政府确定2023年的 TFSA 供款限额为6,500元。如果尚未向TFSA供款，但自 TFSA于2009年首次推出以来一直符合条件，现在的累计供款限额为88,000元。同样，如果您在2022年从TFSA 账户中提取了资金，该笔金额现在可以再次成为您可用的供款额。

如需有关您的个人RRSP和TFSA限额的更多信息，可以在加拿大税务局网站上登录My Account (英文)，或使用应用程式MyCRA app。



最高退休金供款收入如何？
2022年的最高年度退休金供款收入 (maximum annual pensionable earnings) 增至64,900元，而基本免税额仍是3,500元。



细心了解：您可以考虑的抵免额和扣除额
如果您于2022年在家工作
这可能是加拿大人最后一年可以使用临时统一费率方法来申报家庭办公费用。该计划在2020年首次推出，目前定于今年到期，因为许多雇主鼓励员工重返办公室。如果您是符合条件的雇员，在2022年内至少连续4个星期有超过50%的时间在家工作，您使用〝统一费率方法〞，每天可以申索2元，上限为500元，无需由雇主向您提供填妥并已签名的T2200表格。如果您在家工作的费用超过500元，则可以使用〝详细方法〞来提出全额申索。有关统一费率计算方法和详细计算方法的信息，包括合资格的费用清单，可在加拿大税务局的网站 (英文)查看。



如果您正在为首次购房储蓄
今年我们还将看到免税首次置业储蓄账户 (FHSA) 的推出，该新计划兼具RRSP和TFSA的特点。FHSA允许加拿大人最高达40,000元的储蓄获得免税待遇 (类似TFSA)，而在此限额内作出的供款也可用来扣税 (类似RRSP)。 Ewing说：〝对于首次购房者来说，这真是一个非常好的机会，虽然实际上这不是在报税季节需要考虑的事情，但从规划的角度来看，确实值得注意。〞她指出，除了提供新资金外，加拿大人也可以将资金从RRSP账户转移到FHSA而无需缴税。此外，您从FHSA中提款来购买房子时，无需支付任何税款，这是有别于RRSP账户的一般提款。如需更多信息，请访问加拿大税务局网站 (英文)。



如果您在 2022 年首次购房
如果您在2022年购买了第一套房子 (在此恭喜您！)，您可以通过首次购房者税收抵免 (HBTC) 申报房价最高达10,000元的抵免，获得最多1,500元的退款。要符合资格，房子必须登记在您或您的配偶或同居伴侣的名下，且必须是在加拿大。虽然这项税收抵免通常适用于首次购房，但如果这是您在过去4年 (加上购房当年) 内拥有的第一套房子，这项抵免也可能适用。

为出租目的而购买的房产不符合资格，而新房主必须打算在一年内入住或让一名相关的残障人士将该房子作为其主要居所。详情请参阅此处 (英文)。



如果您有资本收益或损失
2022 年市场动荡不安，许多股票在一年中的大部分时间都出现负回报。如果您在2022年有资本收益或损失，您可以灵活选择在哪个纳税年度确认损益。 Ewing 说，如果这是您的情况，举个例子，您可能会选择等到2023年才触发资本利得，因为税级上限比2022年的高。同样，将损失结转到之前年份，而不是保存至将来某年才使用，这也可能是明智之举。她说：〝简单地说，随着收入等级的提高，它可能会改变您目前的一些计划。让最高的边际税率在更高的金额才开始生效，这可能意味着您将为同样的收益缴纳较少的税。〞



如果您持有美国资产
如果您持有某些类型的外国财产，总成本超过100,000 加元 (包括证券和出租物业)，您需要在报税时提交T1135表格。 Ewing提醒持有外国财产的人士，应该考虑所有外国资产合计的成本，而不单是每项资产。她说：〝人们常在这里犯错。〞她指出，加拿大人为了报税而计算成本时，应谨记价值是基于他们获得资产时所使用的汇率，而不是当前汇率。

还有另一件事情要考虑：如果您拥有美国物业并将其出租，即使它位于美国，您也需要在加拿大报税表中申报您的租金收入。如果您在美国持有其他资产，并且需要在美加两国都申报，您也许能获得外国税收抵免，但加拿大人在作出任何假设之前应该谨慎，因为税法可以很复杂，尤其是外国税法。 Ewing 说：〝美国和加拿大对于符合资格的定义可能不同。遇到这类情况时，咨询跨境税务专业人士通常是个好主意。〞



如果您已退休或即将退休
联邦和省政府为了提高供款和福利而努力多年，其中包括加拿大退休金计划 (CPP) 和老年保障金 (OAS) 福利的持续增加。一般的年度上调与通胀挂钩，如前所述，通胀率高于往年 [2]。如果您是退休人士或即将退休，Ewing建议留意这些持续的变化，但她说这些变化在短期内可能不会产生明显的影响。然而，75岁及以上的人士将会看到老年保障金自2022年7月起自动增加10% [3]。



如果您有医疗开支
如果您、您的配偶、同居伴侣或合资格的受抚养人在2022年支付了医疗费用，您可能有资格申请不可退还的医疗费用税收抵免。 Ewing 说：〝加拿大税务局的网站上有庞大清单，列出大量符合资格的医疗费用，其中包括一些可能令人诧异的项目。〞该清单的众多项目包括激光眼科手术、非住院护理服务，甚至淋浴安全把手。然而，要注意医疗费用必须是在申索之前或之后都没有通过保险单或第三方报销，才符合资格。

在某些情况下，雪鸟族也许能申索在美国支付了的某些医疗费用。

最后，Ewing表示，加拿大人今年在报税和整体财务计划方面应该特别小心。这包括他们可能收到的任何最终退税。由于经济可能出现衰退，加拿大人或想考虑使用退款来偿还他们可能背负的高息债务，或者加强一笔未雨绸缪的应急资金。她说：〝一如既往，您的做法将取决于您的情况，但是咨询财务顾问或财务策划顾问，他们精于运算和作出预测，也许可以帮助您作出一些重要的决定。〞