<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
    <h2>Welcome to the Add wrong quesion Page</h2>
    <!-- Add home page content -->

    <h1>Notes</h1>
    <form method="post">
        <h1>Enter your question</h1>
        
        <textarea id="tt_question" name="question" rows="8" cols="120"></textarea>
        <h1>Enter your answers</h1>
       
        <textarea id="tt_answers" name="answers" rows="4" cols="120"></textarea>
        <h1>Enter your rotation</h1>
       
        <textarea id="tt_rotation" name="rotation" rows="6" cols="120"></textarea>
        <br>
        <input type="submit" value="Save">
    </form>

{% endblock %}


