<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/styles.css">
<style type='text/css'>
      
</style>
</head>
<body>

  <header>
    <!-- Your header content (e.g., logo, navigation) -->     
    <nav>
        <ul>
          <li><a href="/">集团首页</a></li>
          <!-- Add other navigation links -->
          <li><a href="/life">保险规划 </a></li>
          <li><a href="/finance">理财规划 </a></li>
          <li><a href="/tax">税务规划 </a></li>
          <li><a href="/ai">人工智能 </a></li>
          <li><a href="/selflearning">自我提升 </a></li>

          <li><a href="/about">集团咨询</a></li>
            
            <div style="float:right;">
                
                <li><a href="/questions">Register/Login</a></li>
              </div>

        </ul>

       
    </nav>
</header>

  <div id="content">
    <div id="search">
      <h2><a href="/life">保险规划 </a></h2>
      <img src="static/insurance-industry.jpg" width="280", height="200"><br>
      <li style="float:left;"><a href="/">Home</a></li>
      <li style="float:left;"><a href="/about">DI</a></li>
      <!-- Add other navigation links -->
      <li><a href="/add">UL</a></li>
      <li><a href="/showone">PAR</a></li>
      <li><a href="/modulequestions">CI</a></li>
      
          
      <li><a href="/questions">Madic</a></li>
                 
    </div>
    <div id="results">
      <h2><a href="/finance">理财规划 </a></h2>
      <img src="static/wealth-building.jpg" , width="280", height="200">
      <br>
      <li><a href="/questions">Madic</a></li>
    </div>


    <div id="search">
      <h2><a href="/tax">税务规划 </a></h2>
      <img src="static/tax.png" , width="280", height="200">
      <br>
      <li><a href="/tax">DI</a></li>
      <!-- Add other navigation links -->
      <li><a href="/add">UL</a></li>
      <li><a href="/showone">PAR</a></li>
      <li><a href="/modulequestions">CI</a></li>
      
          
      <li><a href="/questions">Madic</a></li>
    </div>

    <div id="search">
      <h2><a href="/ai">人工智能 </a></h2>
      <img src="static/ai.jpg">
      <br>
      <li><a href="/about">DI</a></li>
      <!-- Add other navigation links -->
      <li><a href="/add">UL</a></li>
      <li><a href="/showone">PAR</a></li>
      <li><a href="/modulequestions">CI</a></li>
      
          
      <li><a href="/questions">Madic</a></li>
    </div>

    <div id="results">
      <h2><a href="/selflearning">自我提升 </a></h2>
      <img src="static/ai.jpg">
      <br>
      <li><a href="/about">DI</a></li>
      <!-- Add other navigation links -->
      <li><a href="/add">UL</a></li>
      <li><a href="/showone">PAR</a></li>
      <li><a href="/modulequestions">CI</a></li>
      
          
      <li><a href="/questions">Madic</a></li>
    </div>

    <div id="search">
      <h2><a href="/selflearning">集团咨询 </a></h2>
      <img src="static/ai.jpg">
      <br>
      <li><a href="/about">DI</a></li>
      <!-- Add other navigation links -->
      <li><a href="/add">UL</a></li>
      <li><a href="/showone">PAR</a></li>
      <li><a href="/modulequestions">CI</a></li>
      
          
      <li><a href="/questions">Madic</a></li>
    </div>
  </div>

  

</div>


  <footer center style="padding:5px; background-color:#acb3b9; text-align:center;">
    <p>Author: Rong Refsnes  
    <a href="mailto:hege@example.com"> rong@example.com</a></p>
  </footer>
</body>
</html>