{% extends "base.html" %}

{% block content %}
    <h3>Notes</h3>
    <h2>Welcome to the Save Question Page</h2>
    {% if questions %}
        
      <h2>Save Quesion is:</h2>
         {{questions[0]}}
    {% endif %}
    <form method="post" action="/addRightAnserQuestion">
        <h1>Enter Right question</h1>
        
        <textarea id="tt_question" name="question" rows="15" cols="100"></textarea>
      
        <input type="submit" value="Save">
    </form>
    <form method="post" action="/addWrongAnserQuestion">
        <h1>Enter Wrong question</h1>
        
        <textarea id="tt_question" name="question" rows="15" cols="100"></textarea>
      
        <input type="submit" value="Save">
    </form>


{% endblock %}
