{% extends "base.html" %}

{% block content %}
    <h2>Welcome to the Questions Page</h2>
    <!-- Add home page content -->
    <h1>Records List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>question</th>
                <th>answers</th>                
                <th>Your Answer</th>
                <th>rotation</th>
                <!-- Add other columns here -->
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td> {{ record[1] }} </td>
                    <td> 
                        <p>{{ record[2] }}</p>
                        <p>{{ record[3] }}</p>
                        <p>{{ record[4] }}</p>
                        <p>{{ record[5] }}</p>
                    </td>
                    <td>{{ record[6] }}</td>
                    <td>{{ record[7] }}</td>
                    <!-- Add other columns here -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}


